* {
    box-sizing: border-box;
}

body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Fpokemon-pc-panic%2Fimages%2Fa%2Fae%2F1._Pallet_Map.PNG%2Frevision%2Flatest%3Fcb%3D20140107111450&f=1&nofb=1);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.petName {
    border: 5px solid black;
    width: 500px;
    height: 130px;
}

.petImage {
    background-color: #ffffff;
    height: 500px;
}

.petStats {
    display: flex;
    flex-direction: row;
    margin: 50px 0 20px 0;
}

.status{
    font-size: 20px;
    background-color: white;
     padding: 20px;

}

img{
    height: 100%;
	width: auto;
	object-fit: cover;
}