* {
    box-sizing: border-box;
}

body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Fpokemon-pc-panic%2Fimages%2Fa%2Fae%2F1._Pallet_Map.PNG%2Frevision%2Flatest%3Fcb%3D20140107111450&f=1&nofb=1);

    /* padding: 0;
    margin: 0;
    display: flex;
    justify-content: column; */
}

.petName {
    border: 5px solid black;
    width: 500px;
    height: 130px;
}

