* {
    box-sizing: border-box;
}

body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Fpokemon-pc-panic%2Fimages%2Fa%2Fae%2F1._Pallet_Map.PNG%2Frevision%2Flatest%3Fcb%3D20140107111450&f=1&nofb=1);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.petName {
    background-color: aliceblue;
    width: 500px;
    height: 130px;
    text-align: center;
    margin: 15px;
}

#petNameDisplay {
    text-align: center;
}

.petImage {
    height: 500px;
    padding: 10px;
    margin: auto;
}

.currentTitle {
    background-color: aliceblue;
    text-align: center;
    margin: auto;
}

img {
    height: 100%;
	width: auto;
	object-fit: cover;
}

.petStats {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.status {
    font-size: 20px;
    background-color: white;
    padding: 20px;
}

.petActions {
    display: flex;
    flex-direction: row;
}

.action {
    font-size: 40px;
    padding: 15px;
    margin: 10px;
}